.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header-header {
  margin:0 -200%;
  padding:0 200%;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex {
  padding: 2.5% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.address-table {
  margin: auto;
  max-width: 1000px;
}

.navigation-base {
  margin: auto;
  max-width: 1000px;
}

.map-and-save {
  display: flex;
  flex-direction: column;
}

.button-side-by-side {
  display: flex;
  position: absolute;
  right: 3%;
  top: 30px;
} 

.side-by-side {
  display: flex;
}

.navi-side-by-side{ 
  display: flex;
}

@media screen and (max-width: 900px){
  .navi-side-by-side{ 
    display: flex;
    flex-direction: column;
  }
  .side-by-side {
    display: flex;
    flex-direction: column;
  }
}

.button-size {
  width: 50%;
  height: 100%;
}

.vertically {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.navi-img {
  display: block;
  max-height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
}

.navigation-table {
  min-width: 700px;
}

.other-navigation-table {
  min-width: 400px;
}

.margin-right{
  margin-right: 10px;
}

.button-right {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  text-align: right;
}

.button-left {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  text-align: left;
}

.center-of-center {
  position: absolute;
  left: 50%;
  top: 50%;
}

.screen-lock{
  z-index: 9999; /*表示位置を一番手前*/
  position: fixed; /*fixedを指定(absoluteではスクロールされた時に追従しない)*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #808080; /* 背景色（ここではグレー）*/
  text-align: center;
  opacity: 0.7; /* 透過値*/
}

.delete-button:hover {
  color: red;
}

.ramen-list{
  padding-left: 10px;
  overflow-y:auto;
  max-height: 380px;
  min-width: 400px;
}

.google-map-input{
  margin-top: 2%;
  width: 50%;
  height: 5%;
}

.map{
  width: 700px;
  height: 500px;
}

@media screen and (max-width: 900px){
  .map{ 
    width: 500px;
    height: 500px;
  }
}
